<div class="row">
  <div class="col-3">
    @if(div1Visible) {
    <div class="bg-success p-3">div 1</div>
    }
  </div>
  <div class="col-3">
    @if(checkBox) {
    <div class="bg-primary p-3">Checkbox is Checked</div>
    } @else {
    <div class="bg-danger p-3">Checkbox is Unchecked</div>
    }
  </div>
</div>

<div class="row pt-4">
  <div class="col-3">
    <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
    <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
  </div>
  <div class="col-3">
    <input type="checkbox" [(ngModel)]="checkBox" />
  </div>
</div>

<div class="row">
  <div class="col">
    <select>
      @for (city of cityList; track $index) {
      <option>{{ city }}</option>
      }
    </select>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <table>
      <thead>
        <tr>
          <th>Sr no</th>
          <th>empId</th>
          <th>Name</th>
          <th>Age</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        @for (emp of employeeArray; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ emp.empId }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.age }}</td>
          <td>{{ emp.city }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
