<div class="row">
  <div
    class="col-3 p-4"
    [ngStyle]="{ 'background-color': divBgColor, color: 'white' }"
  >
    div 1
  </div>
  <div
    class="col-3"
    [ngStyle]="{ 'background-color': isChecked == true ? 'blue' : 'teal' }"
  >
    div 2
  </div>
  <div class="col-3" [ngStyle]="myCss">div 3</div>
</div>
<div class="row pt-4">
  <div class="col-3 p-4">
    <button class="btn btn-success" (click)="addDivColor('green')">
      Green
    </button>
    <button class="btn btn-danger" (click)="addDivColor('red')">Red</button>
  </div>
  <div class="col-3">
    <input type="checkbox" [(ngModel)]="isChecked" />
  </div>
</div>
